<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="flex flex-col items-center p-14 space-y-4">
        <mat-card class="w-full max-w-[360px] sm:max-w-[400px] md:max-w-[600px]">
            <mat-card-header class="mb-4">
                <mat-card-title>Reset Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill" class="w-3/4">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="passwordFormControl" required />
                    @if (passwordFormControl.hasError('minlength')) {
                    <mat-error>Password must be at least 8 characters long</mat-error>
                    }
                    @if (passwordFormControl.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-3/4">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" [formControl]="confirmPasswordFormControl" required />
                    @if (confirmPasswordFormControl.hasError('minlength')) {
                    <mat-error>Password must be at least 8 characters long</mat-error>
                    }
                    @if (confirmPasswordFormControl.hasError('required')) {
                    <mat-error>Confirm Password is required</mat-error>
                    }
                    @if (confirmPasswordFormControl.hasError('mismatch')) {
                    <mat-error>Passwords do not match</mat-error>
                    }
                </mat-form-field>
                <div class="py-2">
                    <button mat-raised-button type="submit" [disabled]="resetPasswordForm.invalid">
                        <mat-icon>password</mat-icon>Reset
                    </button>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div matTooltip="Return to {{ routes.TODO }} {{ routes.LISTS }}">
                    <button mat-icon-button type="button" [routerLink]="['/', routes.TODO, routes.LISTS]">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</form>