services:
  db:
    image: postgres:16.2
    restart: always
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    container_name: postgres-full
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:${DB_PORT}"

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin-full
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PG_ADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PG_ADMIN_PASSWORD}
    ports:
      - "${PG_ADMIN_PORT}:80"
    depends_on:
      - db
    volumes:
      - pgadmin:/var/lib/pgadmin

  nginx:
    depends_on:
      - api
      - ui
    restart: always
    container_name: nginx-full
    build:
      context: ./nginx
      dockerfile: Dockerfile.${ENV}
    ports:
      - "${NGINX_PORT}:80"

  api:
    build:
      context: ./todo-api
      dockerfile: Dockerfile.${ENV}
    container_name: todo-api-full
    environment:
      - PORT=${API_PORT}
    ports:
      - "${API_PORT}:${API_PORT}"
      - "${API_DEBUG_PORT}:${API_DEBUG_PORT}"
    depends_on:
      - db
    volumes:
      - ./todo-api/src:/app/src
      - openapi:/share/openapi-client
    command: npm run start:debug

  ui:
    build:
      context: ./todo-ui
      dockerfile: Dockerfile.${ENV}
    container_name: todo-ui-full
    environment:
      - PORT=${UI_PORT}
    ports:
      - "${UI_PORT}:${UI_PORT}"
    volumes:
      - ./todo-ui/src:/app/src
      - openapi:/app/src/app/openapi-client
    depends_on:
      - api

volumes:
  pgdata:
  pgadmin:
  openapi:
