<div class="flex flex-col min-h-screen">
    <mat-toolbar>
        <mat-icon>add_task</mat-icon>
        <span class="px-1">Todo</span>
        <span class="flex-grow"></span>
        @if (isMobile() && userContext()) {
        <button mat-icon-button (click)="sidenav?.toggle()" class="mr-4">
            <mat-icon>menu</mat-icon>
        </button>
        }
        @else if (!isMobile() && userContext()) {
        <button mat-icon-button [matMenuTriggerFor]="menu">
            @if (userContext()?.avatar) {
            <img [src]="userContext()?.avatar | safeUrl" class="rounded-full">
            } @else {
            <mat-icon>account_circle</mat-icon>
            }
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
        }
    </mat-toolbar>

    @if (loading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <mat-progress-bar mode="determinate" [value]="0"></mat-progress-bar>
    }
    <mat-sidenav-container class="flex-grow">
        <mat-sidenav class="min-w-48" #sidenav mode="push">
            <mat-nav-list>
                @if (userContext()) {
                <a mat-list-item (click)="logout()"> Logout </a>
                }
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-divider></mat-divider>

    <footer class="mt-auto text-center py-4">
        <span>&copy; 2024 <a href="https://rileymartinez.com">rileymartinez.com</a>. All rights reserved.</span>
    </footer>
</div>