<div class="flex flex-col overflow-hidden">
    <mat-tab-group>
        <mat-tab label="Login">
            @if (otpLoginVisible) {
                <app-one-time-login
                    (completeOtpLogin)="updateOtpLoginVisibility($event)"
                    [email]="email"
                ></app-one-time-login>
            } @else {
                <app-login (showOtpLogin)="updateOtpLoginVisibility($event)"></app-login>
            }
        </mat-tab>
        <mat-tab label="Register">
            <app-register></app-register>
        </mat-tab>
    </mat-tab-group>
</div>
