<mat-card>
    <mat-card-header>
        <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="todoList$ | async as todoList">
        <mat-list>
            <mat-list-item *ngFor="let todo of todoList.todos">
                {{ todo.title }}
                <button mat-icon-button (click)="removeTodoItem()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
    </mat-card-actions>
</mat-card>
