<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex justify-center p-14">
        <mat-card class="w-full max-w-[360px] sm:max-w-[400px] md:max-w-[600px]">
            <mat-card-header class="mb-4">
                <mat-card-title>Create Account</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill" class="w-3/4">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="emailFormControl" autocomplete="email" required />
                    @if (emailFormControl.hasError('email') && emailFormControl.hasError('required')) {
                        <mat-error> Please enter a valid email address </mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                        <mat-error> Email is required </mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-3/4">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        [formControl]="passwordFormControl"
                        autocomplete="new-password"
                        [type]="hide ? 'password' : 'text'"
                        required
                    />
                    @if (passwordFormControl.hasError('required')) {
                        <mat-error>Password is required </mat-error>
                    }
                    @if (passwordFormControl.hasError('minlength')) {
                        <mat-error> Password must be at least 8 characters </mat-error>
                    }
                    <button
                        mat-icon-button
                        matSuffix
                        matTooltip="Toggle password visibility"
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
                    Create
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</form>
