<div class="flex flex-col min-h-screen">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" class="mr-4">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Todo App</span>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingService.loading$ | async"></mat-progress-bar>
    <mat-sidenav-container class="flex-grow">
        <mat-sidenav #sidenav mode="push">
            <mat-nav-list>
                <a *ngIf="!isAuthenticated" (click)="sidenav.close()" [routerLink]="[loginOrRegisterRoute]">
                    <button mat-button>Login</button>
                </a>
                <a *ngIf="isAuthenticated" (click)="sidenav.close()" [routerLink]="[loginOrRegisterRoute]">
                    <button mat-button (click)="logout()">Logout</button>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer class="mt-auto bg-gray-200 text-center py-4">
        <span>© 2024 Todo by Riley Martinez</span>
    </footer>
</div>
