<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Forgot Password</h2>
    <mat-dialog-content>
        <p>Enter your account's email and we'll send you an email to reset your password.</p>
        <mat-form-field appearance="fill" class="w-3/4">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="emailFormControl" autocomplete="email" required />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
        <button
            mat-button
            color="primary"
            [mat-dialog-close]="emailFormControl.value"
            [disabled]="passwordResetForm.invalid"
        >
            Send
        </button>
    </mat-dialog-actions>
</form>
