<div class="container mx-auto p-14">
    <div class="grid grid-cols-1 pb-4">
        <h1 class="flex items-center text-2xl">Profile</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <mat-card appearance="outlined" class="h-full">
            <mat-card-header>
                <mat-card-title> Account </mat-card-title>
            </mat-card-header>
            <form [formGroup]="displayNameForm" (ngSubmit)="updateDisplayName()" class="flex flex-col gap-4 p-4">
                <mat-card-content>
                    <div class="flex flex-col gap-4">
                        <div>
                            @if (userContext()?.avatar) {
                                <img
                                    [src]="userContext()?.avatar"
                                    referrerpolicy="no-referrer"
                                    alt="Profile picture"
                                    class="rounded-full h-32 w-32"
                                />
                            } @else {
                                <mat-icon class="text-6xl">account_circle</mat-icon>
                            }
                        </div>
                        <h2 class="text-xl font-medium" matTooltip="Display Name" matTooltipPosition="left">
                            {{ userContext()?.displayName || userContext()?.email }}
                        </h2>
                        @if (userContext()?.displayName) {
                            <p class="inline-block" matTooltip="Email" matTooltipPosition="left">
                                {{ userContext()?.email }}
                            </p>
                        }

                        <mat-divider></mat-divider>

                        <div class="flex flex-col gap-4">
                            <mat-form-field class="w-3/4">
                                <mat-label>Display Name</mat-label>
                                <input matInput [formControl]="displayNameControl" placeholder="Enter display name" />
                                @if (displayNameControl.hasError('same')) {
                                    <mat-error>Display Name cannot be the same as your current display name</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        type="submit"
                        [disabled]="displayNameForm.invalid || displayNameControl.value === userContext()?.displayName"
                    >
                        Update Profile
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>

        <mat-card appearance="outlined" class="h-full">
            <mat-card-header>
                <mat-card-title> Security </mat-card-title>
            </mat-card-header>
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="flex flex-col gap-4 p-4">
                <mat-card-content>
                    <div class="flex flex-col gap-4">
                        <mat-form-field class="w-3/4">
                            <mat-label>Current Password</mat-label>
                            <input matInput type="password" [formControl]="currentPasswordControl" />
                            @if (currentPasswordControl.hasError('minlength')) {
                                <mat-error>Current Password must be at least 8 characters long</mat-error>
                            }
                            @if (currentPasswordControl.hasError('required')) {
                                <mat-error>Current Password is required</mat-error>
                            }
                        </mat-form-field>

                        <mat-divider></mat-divider>

                        <mat-form-field class="w-3/4">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" [formControl]="newPasswordControl" />
                            @if (newPasswordControl.hasError('minlength')) {
                                <mat-error>New Password must be at least 8 characters long</mat-error>
                            }
                            @if (newPasswordControl.hasError('required')) {
                                <mat-error>New Password is required</mat-error>
                            }
                            @if (newPasswordControl.hasError('match')) {
                                <mat-error>New password cannot match your current password</mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="w-3/4">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" [formControl]="confirmPasswordControl" />
                            @if (confirmPasswordControl.hasError('minlength')) {
                                <mat-error>Password must be at least 8 characters long</mat-error>
                            }
                            @if (confirmPasswordControl.hasError('required')) {
                                <mat-error>Confirm Password is required</mat-error>
                            }
                            @if (confirmPasswordControl.hasError('mismatch')) {
                                <mat-error>Passwords do not match</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>
